<div class="container">
  <div class="row header">
    <div class="row">
      <div class="col-lg-6">
        <post-content-dropdown (onClick)="addContent($event)"></post-content-dropdown>
      </div>
      <div class="col-lg-6">
        <button class="btn btn-primary save-btn" (click)="savePost()">Save Post</button>
        <toggle-switch class="pull-right" [trueText]="'Public'" [falseText]="'Private'" [(ngModel)]="post.IsPublic"></toggle-switch>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <label>Title</label>
      <input type="text" class="form-control" [(ngModel)]="post.Title" placeholder="Title">
    </div>
    <div class="col-lg-12">
      <label>Summary</label>
      <textarea class="form-control" [(ngModel)]="post.Summary" placeholder="Summary" rows="2"></textarea>
    </div>
    <div class="col-lg-12">
        <label>Tags</label>
        <rl-tag-input [(ngModel)]="post.Tags" placeholder="Add tag" class="tag-input"></rl-tag-input>
    </div>
  </div>
  <div class="row content" *ngFor="let content of post.Content; let i = index;">
    <div class="col-lg-12" *ngIf="content.Type === 0">
      <input type="text" class="header-input" id="hdr" [(ngModel)]="content.Value" placeholder="Header">
    </div>
    <div class="col-lg-12" *ngIf="content.Type === 1">
      <div class="paragraph-input" contenteditable="true" [textContent]="content.Value" (input)="content.Value=$event.target.textContent">{{content.Value}}</div>
    </div>
    <div class="col-lg-12" *ngIf="content.Type === 2" class="image">
      <input type="file" accept="image/*" capture="camera" id="file-upload" (change)="saveImage($event.srcElement.files[0], content)" *ngIf="!content.Value">
      <img src="{{content.Value}}" *ngIf="content.Value">
    </div>
    <button class="delete-content-btn btn btn-danger"(click)="deleteContent(content, i)"><i class="glyphicon glyphicon-trash"></i></button>
  </div>
</div>
