<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Tags</th>
          <th>Date Published</th>
          <th>Visibility</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts" (click)="editPost(post.$key)">
          <td>{{post.Title}}</td>
          <td>{{post.Tags ? post.Tags.join(', ') : ''}}</td>
          <td>{{post.DatePublished}}</td>
          <td>{{post.IsPublic ? 'Public' : 'Private'}}</td>
        </tr>
      </tbody>
    </table>
    <div class="form-group">
      <button type="button" class="btn btn-success new-post-btn" (click)="newPost();"><i class="glyphicon glyphicon-plus"></i> New Post</button>
    </div>
  </div>
</div>
