<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <label>Title</label>
      <input type="text" class="form-control" [(ngModel)]="post.Title" placeholder="Title">
    </div>
    <div class="col-lg-12">
      <label>Summary</label>
      <textarea class="form-control" [(ngModel)]="post.Summary" placeholder="Summary" rows="2"></textarea>
    </div>
  </div>
  <div class="row" *ngFor="let content of post.Content">
    <div class="col-lg-12" *ngIf="content.Type === 0">
      <input type="text" class="header-input" id="hdr" [(ngModel)]="content.Value" placeholder="Header">
    </div>
    <div class="col-lg-12" *ngIf="content.Type === 1">
      <textarea class="paragraph-input" id="prg" [(ngModel)]="content.Value" rows="1" placeholder="paragraph"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 add-header">
      Add New
    </div>
    <div class="col-lg-2">
      <button class="btn btn-primary sec-btn" (click)="addContent(0)">Header</button>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-primary sec-btn" (click)="addContent(1)">Paragraph</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-primary save-btn" (click)="savePost()">Save Post</button>
    </div>
  </div>
</div>